
.app-header {
    font-family: sans-serif;
    background: #f4f6f7;
    /* width: 250px; */
    /* display: grid; */
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    font-size: 50px;
  }

  .app-header .header-icon{
    cursor: pointer;
    padding: 10px;
  }

  .app-logo a{
    text-decoration: none;
    color: black;
    font-family: Lobster, open-sans;
  }

  
/* For Mobile Devices */
@media only screen and (max-width: 1000px) {
  .app-header{
    display:flex;
  }
  .app-logo{
    margin: auto;
  }
}